page-home {
 ion-slides{
    height: 50%;
  }
  ion-slide img {
      height: 70vh !important;
      width: auto !important;
  }

  ion-slide h1{
    position: absolute;
    bottom: 60px;
    color: white;
    text-align: center;
    left: 10px;
    right: 10px;
  }
  ion-slide .btnslide{
    position: absolute;
    bottom: 25px;
  }

  

.grid-basic-page {

  ion-col {
      margin-left: -5px;
      margin-right: 5px;
      padding: 0px;
  }
  
 

  ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
  }
  ion-card {
      width: 95%;
  }
  p {
   /* padding: 10px 0 0 10px !important;*/
    margin: 0;
  }

}
.prize{
    text-align: center;
    font-size: 1.8rem;
    padding: 2px 0 4px 0px;
    margin: 2px 0 2px;
    font-weight: bolder;
    color:rgb(99,180,227);
}

.lineblue{
  border-top: 3px solid #32db64;
  padding: 10px;
}
 .swiper-pagination-bullet-active {
    background: #f53d3d;
  }


}
